/*styling comment box */
.comment-body {
    border: 1px solid #090909;
    padding: 10px;
}
.children .comment-body{
	margin-left: 10px;
}
.wp-block-post-comments-form input[type=submit] {
    padding: 10px;
    background: #000;
    color: #fafafa;
    border:3px solid rgb(68, 68, 167);
}
.wp-block-post-comments-form input[type=submit]:hover,
.wp-block-post-comments-form input[type=submit]:focus{
	background:#151515f2;
    border-color: #00f;
}

.bypostauthor .comment-body{
    position:relative;
    margin-top:10px;
}
.bypostauthor .comment-body::before{
    position:absolute;
    content:'author';
    top:0;
    right:0;
    background:#f00;
    padding:5px;
    border-radius:0px 0px 0px 10px;
    color:#fff;
    font-weight:bold;
}
.reply a {
    text-decoration: none;
    color: currentColor;
    padding: 5px;
    border: 1px solid #000;
}