// header navigation menu
.simplecharm-portfolio-header {
    position: relative;
}
nav.simplecharm-portfolio-main-navigation ul {
    list-style: none;
    position: relative;
    margin:0 0 5px 0;
    transition:all 0.4s;
    transition-delay:0.2s;
    background: #fafafa;
}
nav.simplecharm-portfolio-main-navigation ul .sub-menu {
    display: flex;
    flex-direction: column;
    float: left;
    background: #fafafa;
}
nav.simplecharm-portfolio-main-navigation ul li {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
}
nav.simplecharm-portfolio-main-navigation ul li a{
	padding:5px;
	color:#000;
}

nav.simplecharm-portfolio-main-navigation ul .sub-menu {
    position: absolute;
    top: 100%;
    left: -50%;
    z-index: 12;
    display:flex;
    opacity:0;
    pointer-events:none;
}
nav.simplecharm-portfolio-main-navigation ul li:hover .sub-menu,
nav.simplecharm-portfolio-main-navigation ul li:focus-within .sub-menu {
    opacity:1;
    pointer-events:auto;
}
nav.simplecharm-portfolio-main-navigation ul li a:hover,
nav.simplecharm-portfolio-main-navigation ul li a:focus{
    text-decoration: underline;
}
#simplecharm-portfolio-navigation {
    top: 50%;
    transform: translateY(-50%);
}
#simplecharm-portfolio-navigation .menu:first-child{
    display: unset;
}
// styles for medium devices 760px
@media screen and (max-width: 760px) {
    .simplecharm-portfolio-navigation-toggler{
        display: block;
    }
    nav.simplecharm-portfolio-main-navigation ul li {
        display: block;
        margin: 10px;
        padding: 10px;
    }
    #simplecharm-portfolio-navigation{
        display: none;
    }
    #simplecharm-portfolio-navigation .menu:first-child{
        display: flex;
    }
}
@media screen and (min-width: 761px) {
    #simplecharm-portfolio-navigation{
        display: block!important;
    }
}

// search bar
/*styling the search bar*/
.search-field, .search-submit {
    border: none;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.search-submit{
	cursor:pointer;
}
.search-field:focus{
	border:none;
	outline:none;
}
#simplecharm-content[tabindex="-1"]:focus , #comments[tabindex="-1"]:focus {
  outline: 0;
}
