// header navigation menu
nav.simplecharm-main-navigation ul {
    list-style: none;
    position: relative;
    background: rgba(255,255,255,0.4);
    margin:0 0 5px 0;
    transition:all 0.4s;
    transition-delay:0.2s;
}
nav.simplecharm-main-navigation ul .sub-menu {
    display: flex;
    flex-direction: column;
    float: left;
    width: 25%;
}
nav.simplecharm-main-navigation ul li {
    display: inline-block;
    margin: 10px;
}
nav.simplecharm-main-navigation ul li a{
	padding:10px;
	color:#000;
}

nav.simplecharm-main-navigation ul .sub-menu {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 12;
    display:flex;
    opacity:0;
    pointer-events:none;
}

nav.simplecharm-main-navigation ul li:hover .sub-menu,
nav.simplecharm-main-navigation ul li:focus-within .sub-menu {
    opacity:1;
    pointer-events:auto;
}
nav.simplecharm-main-navigation ul li a:hover,
nav.simplecharm-main-navigation ul li a:focus{
    text-decoration: underline;
}

// search bar
/*styling the search bar*/
.search-field, .search-submit {
    border: none;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.search-submit{
	cursor:pointer;
}
.search-field:focus{
	border:none;
	outline:none;
}
#simplecharm-content[tabindex="-1"]:focus , #comments[tabindex="-1"]:focus {
  outline: 0;
}
