div.wp-block-column.CHARMING_PORTFOLIO_primary-image-container{
    position: relative;
    margin: auto;
	figure:nth-child(1) img{
	    position:relative;
	    z-index:1;
	}
	figure:nth-child(2) img{
	    position: absolute;
	    top: -10%;
	    left: 5%;
	    filter: blur(5px);
	}
}
div.wp-block-column.CHARMING_PORTFOLIO_primary-text-container{
	margin: auto;
}